<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  </head>
  <body>
    <div id="sidebar-placeholder"></div>
    <div class="dashboardContainer">
      <h1>Dashboard</h1>
      <div class="dashboardContent">
        <div class="dashboardCard">
          <div class="dashboardCard__user">
            <h3><span class="material-symbols-outlined"> account_circle </span>User</h2>
            <div class="userCount" id="userCount">
              <b>Total: <span>1000</span></b>
            </div>
          </div>
        </div>
        <div class="dashboardCard">
          <div class="dashboardCard__order">
            <h3>
            <span class="material-symbols-outlined">
              shopping_bag
              </span>order</h3>
              
            </h3>
            <div class="orderCount" id="orderCount">
              <b>Total: <span>1000</span></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="../renderSideBar.ts"></script>
</html>
