<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <section class="about_container">
      <h1>Unveiling Comfort, Redefining Style</h1>
      <br />
      <div class="about_content">
        <div class="about_content__paragraph">
          <p>
            At Inherit, we believe that home is where the heart is, and the
            heart of every home is the living space. Established with a passion
            for transforming houses into havens, we curate an exclusive
            collection of sofas that embody the perfect blend of comfort and
            style.
          </p>
          <p>
            Our journey began with a simple vision - to offer more than just
            furniture. We aim to enhance your lifestyle by providing handpicked,
            high-quality sofas that not only meet but exceed your expectations.
            Each piece in our collection is a testament to meticulous
            craftsmanship, thoughtful design, and a commitment to elevating your
            living experience.
          </p>
          <p>
            What sets us apart is our dedication to diversity. From classic
            designs that stand the test of time to contemporary marvels that
            embrace the latest trends, our range caters to every taste and
            preference. We understand that a sofa is more than just a piece of
            furniture; it's an expression of your personality, a place where
            memories are made, and a symbol of the warmth that fills your home.
          </p>
          <p>
            Our commitment doesn't end with the sale. We prioritize customer
            satisfaction, offering a seamless shopping experience and excellent
            service at every step. Whether you're on the hunt for the perfect
            centerpiece for your living room or a cozy addition to your study
          </p>
          <p>
            Join us in this journey of redefining comfort and style. Explore
            <b
              ><em>
                <a href="../user/product/product.html">our collection </a></em
              ></b
            >
          </p>
          <br />
          <span
            ><b><q>The Inheret team Team</q></b></span
          >
        </div>
        <div class="about_content__img">
          <!-- <figure>
            <img src="../../img/about1.jpg" alt="" />
          </figure>
          <figure>
            <img src="../../img/about2.jpg" alt="" />
          </figure> -->
          <figure>
            <img src="../../img/about3.jpg" alt="" />
          </figure>
        </div>
      </div>
    </section>
  </body>
  <script type="module" src="./renderNavBar.ts"></script>
</html>
