<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout Page</title>
    <link rel="stylesheet" type="text/css" href="./checkout.css" />
  </head>

  <body>
    <div id="app">
      <div id="userDetails">
        <h2>User Details</h2>

        <label for="name">Name:</label>
        <input type="text" id="name" disabled />

        <label for="email">Email:</label>
        <input type="email" id="email" disabled />

        <label for="contactNo">Phone Number:</label>
        <input type="contactNo" id="contactNo" disabled />

        <label for="paymentMode">Payment Mode:</label>
        <select id="paymentMode">
          <option value="COD">Cash on Delivery</option>
          <option value="khalti">Khalti</option>
          <!-- Add more payment options as needed -->
        </select>

        <label for="billingAddress">Billing Address:</label>
        <input type="billingAddress" id="billingAddress" />

        <label for="shippingAddress">Shipping Address:</label>
        <input type="shippingAddress" id="shippingAddress" />
      </div>

      <div id="productsContainer">
        <h2>Products</h2>
        <!-- Product items will be dynamically added here -->
        <div id="productList"></div>
        <div id="total"></div>
        <button>Place Order</button>
      </div>
    </div>
  </body>
  <script type="module" src="./checkout.ts"></script>
</html>
