<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You!</title>
    <link rel="stylesheet" type="text/css" href="../../../styles/style.css" />
  </head>

  <body>
    <div class="confirm">
      <h1>Thank You for Your Order!</h1>
      <p>We appreciate your purchase and hope you enjoy it .</p>
      <div class="confirm__btn">
        <button class="btn__home">
          <a href="/views/user/home.html">Go to home</a>
        </button>
        <button class="btn__shop">
          <a href="/views/user/product/product.html">Explore More</a>
        </button>
      </div>
    </div>
  </body>
</html>
