<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="../../../styles/style.css" />
  </head>
  <body>
    <section id="navbar"></section>
    <div class="product-container" id="productContainer">
      <!-- Content will be dynamically loaded here -->
    </div>
    <script type="module" src="/views/user/renderNavBar.ts"></script>
    <script type="module" src="./productSingle.ts"></script>
  </body>
</html>
