body {
  font-family: "Montserrat", sans-serif;
}
.about_container {
  width: 100vw;
  padding: 2rem;
  @media screen and (min-width: 768px) {
    padding: 2rem 9rem 4rem 7rem;
    h1 {
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin: 0 auto;
    }
  }
}
.about_content {
  &__img {
    figure {
      width: 20rem;
      img {
        max-width: 89%;
        border-radius: 20px;
      }
    }
  }
  &__paragraph {
    p {
      font-size: 1.3rem;
      a {
        color: rgb(30, 168, 122);
        text-decoration: underline;
      }
    }
    @media screen and (min-width: 768px) {
      p {
        max-width: 80%;
        font-size: 1.3rem;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &__img {
        figure {
          width: 40rem;
          img {
            max-width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
  }
}
