h1 {
  margin: 0;
  font-size: 1.6rem;
  color: rgb(63, 63, 71);
  @media screen and (min-width: 768px) {
    font-size: 2.5em;
  }
}
h2 {
  font-size: 1.5rem;
  color: rgb(63, 63, 71);
  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.material-symbols-outlined {
  color: #6d6969;
}
button {
  border: none;
  width: 40%;
  height: 3rem;
  margin: 2rem 0;
}
p {
  line-height: 2;
  text-align: justify;
}
figure {
  margin: 0;
}
.icon {
  color: #fff;
}
