#productContainer {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: auto auto;
    padding: 1rem 5rem;
  }
  @media screen and (min-width: 998px) {
    grid-template-columns: auto auto auto auto;
    padding: 5rem;
  }
}

.product {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-height: 80%;
    max-width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 1rem 1rem;
    h4 {
      margin: 0;
      color: #535050;
      font-size: 1.3rem;
    }
    p {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      color: #625f5f;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    .button {
      width: 16rem;
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &__btn {
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    background-color: #eee;
    color: #1f1e1e;
    border-radius: 50%;
    margin: 0;

    &:hover {
      background-color: #333;
      color: white;
    }
    &__value {
      margin: 0.5rem 0.5rem;
    }
  }
}

.button__addToBtn {
  background-color: #81c784;
  color: white;
  border-radius: 5px;
  width: 60%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0;
  &:hover {
    background-color: #333;
    color: rgb(225, 223, 223);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
