#productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 5rem;
}

.product {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    max-height: 80%; // Adjust as needed
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    h4 {
      margin: 0;
      font-size: 1.5rem;
    }
    p {
      margin: 0;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      width: 16rem;
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &__btn {
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;

    &:hover {
      background-color: #333;
      color: white;
    }
    &__value {
      margin: 0.5rem 0.5rem;
    }
  }
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button__addToBtn {
  background-color: #1f1e1e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0;
  &:hover {
    background-color: rgb(225, 223, 223);
    color: #333;
  }
}
